.privacy-embed {
    position: relative;
}

.privacy-embed-overlay-wrapper, .privacy-embed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.privacy-embed-overlay-wrapper {
    background: transparent no-repeat center center;
    background-size: cover;
}

.privacy-embed-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.privacy-embed-content {
    padding: 2rem;
    text-shadow: 0px 2px 5px #000;
}

.privacy-embed-content * {
    color: #fff;
}

.privacy-embed-content a {
    text-decoration: underline;
}

.privacy-embed-button-wrapper {
    text-align: center;
}

.privacy-embed-button {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 3px;
}

.privacy-embed-button:hover {
    outline: 0 none;
}